<h1>내가 만든 Crew들</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th colspan="3"></th>
      <th>가입신청한 사람</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.crews.each do |crew| %>
      <tr>
        <td><%= crew.title %></td>
        <td><img src="<%= crew.image %>" height="100", width="100"></td>
        <td><%= link_to 'Show', crew %></td>
        <td><%= link_to 'Edit', edit_crew_path(crew) %></td>
        <td><%= link_to 'Destroy', crew, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
        <% count=0%>
        
            <% if crew.rolls.find_by(is_signed?: "sign_ing")%>
            <% crew.rolls.each do |roll|%>
                <%if roll.is_signed? == "sign_ing"%>
                    <% count += 1%>
                <%end %>
            <%end%>
            
            <% unless count==0%>
                <td><%= link_to "#{count}", "/crews/#{crew.id}/mysign"%></td>
            <% else%>
                <td>0</td>
            <%end%>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

