<h1>홈페이지 화면</h1>

<h1>팔로우한 Crew들</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crews.each do |crew| %>
      <tr>
        <td><%= crew.title %></td>
        <td><img src="<%= crew.image %>" height="100", width="100"></td>
        <td><%= link_to 'Show', crew %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to "마이페이지", crews_mypage_path%><br>
<%= link_to "Crews 둘러보기" ,crews_path%>
